.containerMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1219px) {
  .title {
    text-align: center;
  }
}