.containerMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.titleBox {
  width: 100%;
  max-width: 1240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1240px;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.columnOrders {
  width: 608px;
  height: 100%;
}

.columnInfo {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 580px;
}

@media (max-width: 1219px) {
  .columnInfo {
    order: -1;
    overflow-y: hidden;
    padding-top: 25px;
  }
}
