.burger_ingredients {
  font-family: 'Jet Brains Mono';
  color: #f2f2f3;
  max-width: 600px;

  max-height: 80svh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.tab {
  width: 120px;
}

.content {
  overflow-y: scroll;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.categories {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

@media (max-width: 1219px) {
  .burger_ingredients {
    padding-left: 25px;
  }
}

@media screen and (max-width: 1219px) and (max-height: calc(100vh)) and (orientation: portrait) {
  .burger_ingredients {
    max-height: none;
    padding-bottom: 25px;
  }
}